/* Colors */

$blue1: #0080ff;
$blue2: #03a6ff;
$blue3: #1ec0ff;
$blue4: #a3daff;
/* Fonts */

@font-face {
    font-family: roboto;
    src: url('../fonts/Roboto-Regular.ttf');
}

@font-face {
    font-family: raleway;
    src: url('../fonts/Raleway-Regular.ttf');
}

$raleway: raleway;
$roboto: roboto;
/* Mixins */

@mixin transition($property,
$time) {
    -webkit-transition: $property $time;
    -moz-transition: $property $time;
    -o-transition: $property $time;
    transition: $property $time;
}

/* Buttons */

.btn {
    color: $blue1;
    padding: 10px 30px;
    font-family: $raleway;
    font-weight: bold;
    font-size: 80%;
    border-radius: 5px;
    @include transition(all,
    0.4s);
    &:hover {
        box-shadow: 3px 3px 5px #333;
    }
}
.btn-green{
    background: $blue4;
}

/** RESET **/

* {
    line-height: 1.5;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    display: inline-block;
    text-decoration: none;
}

img {
    width: 100%;
}

video {
    width: 100%;
}

.wrap {
    width: 85%;
    max-width: 1920px;
    margin: 0 auto;
}

/** Main Styles **/

body {
    #side-nav {
        background: rgba($color: #000000, $alpha: 0.7);
        z-index: 1;
        position: absolute;
        right: 0;
        width: 0;
        display: none;
        height: 100%;
        text-align: center;
        color: #f4f4f4;
        padding: 0 10px;
        font-family: $roboto;
        @include transition(width, 0.4s);
        hr{
            border-color: rgba($color: #000000, $alpha: 0.7);
            width: 75%;
        }
        h1{
            color: $blue3;
            font-family: $raleway;
            padding: 20px 0;
        }
        a{
            color: inherit;
            font-family: inherit;
            display: block;
            padding: 10px 0;
            @include transition(all, 0.4s);
            &:hover{
                color: $blue2;
            }
        }

        .fa-close{
            position: absolute;
            right: 0;
            top: 0;
            padding: 10px 20px;
            font-size: 1.75rem;
            color: rgba($color: red, $alpha: 0.7);
            cursor: pointer;
            @include transition(all, 0.4s);
            &:hover{
                color: red;
            }
        }
        p{
            font-size: .75rem; 
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 100%;
            a{
                padding: inherit;
                display: inline-block;
            }
        }
    }
    header {
        background: $blue1;
        color: #f4f4f4;
        nav {
            position: absolute;
            top: 0;
            padding: 10px 0;
            font-family: $raleway;
            font-weight: 700;
            font-size: 90%;
            a {
                color: #f4f4f4;
                padding: 0 5px;
                @include transition(all,
                0.4s);
                &:hover {
                    color: rgba(255, 255, 255, 0.5);
                }
            }
            #logo {
                font-size: 150%;
                color: $blue4;
                padding-left: 0;
            }
        }

        #open-nav {
            position: absolute;
            right: 0;
            top: 0;
            padding: 10px;
            margin: 10px;
            cursor: pointer;
            background: #f4f4f4;
            color: $blue1;
            @include transition(all, 0.4s);
            &:hover {
                background: rgba($color: #000000, $alpha: 0.7)
            }
        }
        .hero {
            max-width: 1200px;
            height: 100%;
            position: relative;
            left: 50%;
            transform: translateX(-50%)
        }
        #hero {
            width: 60%;
            float: left;
            margin-top: 100px;
            h1 {
                font-family: $raleway;
            }
            p { 
                font-family: $roboto;
            }
        }
        #mobile-app {
            width: 40%;
            float: left;
            img {
                width: 60%;
            }
        }
    }
    #what-is-it {
        background: $blue1;
        color: #f4f4f4;
        h2{
            text-align: center;
            font-family: $raleway;
            color: $blue4;
        }
        #desc, #video {
            font-family: $roboto;
            width: 50%;
            float: left;
            padding: 20px;
        }
    }
    #implementation {
        background: $blue2;
        color: #f4f4f4;
        h2{
            text-align: center;
            font-family: $raleway;
            color: $blue4;
        }
        .image, .desc{
            width: 50%;
            float: left;
            padding: 20px;
            font-family: $roboto;
        }
    }
    #appliances {
        background: $blue1;
        color: #f4f4f4;
        h2{
            text-align: center;
            font-family: $raleway;
            color: rgba(255, 255, 255, 0.8);
        }
        h3{
            font-family: $raleway;
            text-align: center;
            color: rgba(255, 255, 255, 0.7);
        }
        .image, .desc{
            width: 50%;
            float: left;
            padding: 20px;
            font-family: $roboto;
        }
        .slide:nth-child(2n) {
            background: $blue2;
        }
    }

    #pros-cons {
        background: $blue2;
        color: #f4f4f4;
        h2{
            text-align: center;
            font-family: $raleway;
            color: rgba(255, 255, 255, 0.8);
        }
        h3{
            font-family: $raleway;
            text-align: center;
            color: rgba(255, 255, 255, 0.7);
        }
        .slide {
            div {
                width: 100%;
                margin: 0 auto;
            }
        }
    }

    /*********** MEDIA QUERIES ***********/
    @media screen and (max-width: 768px) {
        header {
            nav {
                a{
                    display: none;
                }
                #logo {
                    display: inline-block;
                }
            }
            .hero {
                #hero {
                    float: none;
                    width: 100%;
                    display: block;
                    text-align: center;
                }
                #mobile-app {
                    display: none;
                }
            }
        }

        #what-is-it{
            #desc {
                float: none;
                width: 100%;
                font-size: .9rem;
            }
            #video {
                display: none;
            }
        }

        #implementation, #appliances {
            .desc {
                float: none;
                width: 100%;
                font-size: .9rem;
            }
            .image{
                display: none;
            }
               
        }
    }
}